data/
*.db
__pycache__/
.pytest_cache/
.mypy_cache/
.venv/
venv/
*.egg-info/
dist/
build/
hardware/Hardware Tests/OpusRtpTest/WIFI_CONFIG.h
hardware/Production/ASR/model/
hardware/Production/ASR/*.wav
hardware/Production/ASR/*.zip
hardware/Production/ASR/transcript.txt
hardware/Software Tests/RtpVadAsr/model/
hardware/Software Tests/RtpVadAsr/*.wav
hardware/Software Tests/RtpVadAsr/*.zip
hardware/Software Tests/RtpVadAsr/transcript.txt
